<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h5 class="box-title">Print Card Apply Management</h5>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-bordered  table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email Address</th>
                                        <th>View Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data">
                                        <td>{{item.fname}} {{item.lname}}</td>
                                        <td>{{item.email}}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" id="modalprintedit" (click)="getDetails(item)"
                                                data-toggle="modal" data-target="#modal-form" title="View">
                                                <i class="fa fa-eye"></i>
                                            </button>&nbsp;&nbsp;
                                            <button type="button" class="btn btn-primary margin-r-5" id="modaldelete" (click)="deleteData(item)"
                                                title="Delete">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div class="modal fade" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">{{pagetitle}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Name:</label> {{item.fname}} {{item.lname}}
                        </div>
                        <div class="form-group">
                            <label for="">Phone Number:</label> {{item.phone}}
                        </div>
                        <div class="form-group">
                            <label for="">Email Adress:</label> {{item.email}}
                        </div>
                        <div class="form-group">
                            <label for="">Address:</label> {{item.address}}
                        </div>
                        <div class="form-group">
                            <label for="">City:</label> {{item.city}}
                        </div>
                        <div class="form-group">
                            <label for="">State:</label> {{item.state_long}}
                        </div>
                        <div class="form-group">
                            <label for="">Zip code:</label> {{item.zip}}
                        </div>
                        <div class="form-group">
                            <label for="">No of print card:</label> {{item.cardno}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>